---
import Layout from "@/layouts/Layout.astro";
import Badge from "@/components/badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/linkedIn.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import GmailIcon from "@/components/icons/Gmail.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import BriefCaseIcon from "@/components/icons/BriefCaseIcon.astro";
import Projects from "@/components/Projects.astro";
import Experience from "@/components/Experience.astro";
import Code from "@/components/icons/Code.astro";
import Person from "@/components/icons/Person.astro";
import AboutMe from "@/components/AboutMe.astro";

import { useTranslations, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("title")} description={t("description")}>
  <main class="px-4">
    <SectionContainer
      class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-xl"
    >
      <div>
        <h1
          class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row items-center select-none sm:gap-x-4 gap-0 pb-4 lg:pb-10"
        >
          {t("lay.greetings")}
          <a
            href="https://linkedin.com/in/larry-robles-0084bb294"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
            ><Badge>{t("lay.badge")}</Badge></a
          >
        </h1>
        <h2 class="text-lg md:text-xl opacity-80 text-wrap max-w-[700]">
          <span>{t("lay.span-1")}</span><span class="text-yellow-200">
            {t("lay.span-2")}
          </span><span class="text-red-200/90">{t("lay.span-3")}</span><span
            class="opacity-85"
          >
            {t("lay.span-4")}</span
          >
        </h2>

        <nav class="flex gap-2 mt-5 px-1 flex-wrap select-none">
          <SocialPill href="https://linkedin.com/in/larry-robles-0084bb294">
            <LinkedInIcon class="size-4 md:size-6" />LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/larryrzv">
            <GitHubIcon class="size-4 md:size-6" />GitHub
          </SocialPill>
          <SocialPill href="mailto:larryrzv@gmail.com">
            <GmailIcon class="size-4 md:size-6" />larryrzv@gmail.com
          </SocialPill>
        </nav>
      </div>
      <SectionContainer id="experiencia">
        <h2 class="text-4xl font-semibold mb-7 flex gap-x-3 items-center">
          <BriefCaseIcon />
          {t("nav.experience")}
        </h2>
        <Experience />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
          <Code />
          {t("nav.projects")}
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="sobre-mi">
        <h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
          <Person />
          {t("nav.about")}
        </h2>
        <AboutMe />
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
