<ol class="ms-5 select-none relative border-s border-gray-200 dark:border-gray-700">
  <li class="ms-9">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
    </span>
    <h3 class="mb-1 text-xl lgtext-2xl text-wrap max-w-[700]">
      <span class="opacity-90">Asistente de Técnico en <span class="text-orange-300">Electrónica </span>e</span>
      <span class="text-purple-400"> Informática</span>
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >2020-2021 (1 Año de Experiencia)</time
    >
    <p class="text-base font-normal text-white text-balance">
      Asistencia en reparación y exámenes básicos en <span class="text-orange-200">hardware</span> y <span class="text-purple-300">software</span>
      (Smartphone, laptop, Computador, etc).
    </p>
    <p>Recepcionista y atención al cliente.</p>
  </li>
</ol>
