---
import { useTranslations, getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ol class="ms-5 select-none relative border-s border-gray-200 dark:border-gray-700">
  <li class="ms-9">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-600 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
    >
    </span>
    <h3 class="mb-1 text-xl lgtext-2xl text-wrap max-w-[700]">
      <span class="opacity-90">{t("exp.span-1")}<span class="text-orange-300">{t("exp.span-2")}</span><span></span></span>
      <span class="text-purple-400"> {t("exp.span-3")}</span>
    </h3>
    <time
      class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >{t("exp.time")}</time
    >
    <p class="text-base font-normal text-white text-balance">
      {t("exp.p-1")}<span class="text-orange-200">{t("exp.span-4")}</span><span class="text-purple-300">{t("exp.span-5")}</span>
      <span class="text-base font-normal text-white text-balance">{t("exp.span-6")}</span>
    </p>
    <p>{t("exp.p-2")}</p>
  </li>
</ol>
