---
import Es from "./icons/Es.astro";
import En from "./icons/En.astro";
---

<span data-language="es">
  <a href="/es/"> <Es class="max-[425px]:size-6 size-10 md:size-12 pointer-events-none cursor-pointer" /></a>
</span>
<span data-language="en">
  <a href="/en/"> <En class="max-[425px]:size-6 size-10 md:size-12 pointer-events-none cursor-pointer" /></a>
</span>
